* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&family=Yanone+Kaffeesatz&display=swap');
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; 
*/

.parentCard {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10% 0;
}

.mainCard:hover {
    background: lightgoldenrodyellow;
}

.mainCard {
    width: 350px;
    height: 200px;
    border: 2px solid lightskyblue;
    background: lightcyan;
    border-radius: 5px;
}

.mainCard .profileCard {
    padding: 5px;
}

.profileCard .cardTitle {
    color: blue;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 30px;
    text-align: end;
}

.profileCard .cardDesignation {
    color: skyblue;
    font-family: 'Montserrat', sans-serif;
    text-align: end;

}

.contactCard {
    /* border: 2px solid green; */

    display: flex;
    justify-content: flex-end;
}


.location,
.mobile,
.email {
    color: lightskyblue;
    padding: 5px;
    font-weight: 700;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.icon {
    font-size: 30px;
    color: blue;
}